<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.SBL.eDinette"
      android:versionCode="1"
      android:installLocation="preferExternal"
      android:versionName="1.0">
      
    <uses-sdk android:minSdkVersion="8" />
    
   <uses-permission android:name="android.permission.INTERNET" />
   <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />	
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />	
	<uses-permission android:name="android.permission.WAKE_LOCK" />	
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />	
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		
    
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        
        <activity android:name="com.SBL.eDinette.SettingsActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                   android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                   >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
                  
		<activity android:name="com.SBL.eDinette.EDinetteActivity"
					android:label="@string/app_name"
					android:screenOrientation="portrait"
					android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
					>
		</activity>
		
		<activity android:name="FileList"
					android:label="@string/app_name"
					android:screenOrientation="portrait"
					android:theme="@android:style/Theme.NoTitleBar"
					>
		</activity> 
		
		<activity android:name="SlideShow"
					android:label="@string/app_name"
					android:screenOrientation="portrait"
					android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
					>
		</activity> 
		
		 <service android:name="com.SBL.eDinette.MyAlarmService" />    
		 <provider android:name=".FileContentProvider" android:authorities="com.SBL.eDinette" />
		
    </application>
</manifest>